<main id="main" class="main">
  <section>
    <div class="container">
      <table class="table table-striped" id="myTable">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Order Id</th>
            <th scope="col">Amount</th>
            <th scope="col">Payment</th>
            <th scope="col">Status</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          {{#each order}}
          <tr>
            
            <th scope="row">{{inc @index}}</th>
            <td>{{this.deliveryDetails.name}}</td>
            <td>{{this._id}}</td>
            <td>{{this.totalamount}}</td>
            <td>{{this.paymentmethod}}</td>
            {{#if (placed this.trackOrder)}}
            <td style="color: black;">{{this.trackOrder}}</td>
            {{/if}}
            {{#if (dispatch this.trackOrder)}}
            <td style="color: orange;">{{this.trackOrder}}</td>
            {{/if}}
            {{#if (delivered this.trackOrder)}}
            <td style="color: green;">{{this.trackOrder}}</td>
            {{/if}}
            {{#if (cancelled this.trackOrder)}}
            <td style="color: red;">{{this.trackOrder}}</td>
            {{/if}}
              {{#if (pending this.trackOrder)}}
            <td style="color: black;">{{this.trackOrder}}</td>
            {{/if}}
            <td>
              
              <a href="/admin/editorder/Dispatched/{{this._id}}" class="btn btn-primary">Dispatched</a>
              <a href="/admin/editorder/Delivered/{{this._id}}" class="btn btn-success" >Delivered</a>
              <a href="/admin/editorder/Cancelled/{{this._id}}" class="btn btn-danger">Cancel</a>

            </td>
           
          </tr>
           {{/each}}

        </tbody>
      </table>
    </div>
  </section>
</main>
<script>
  $(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>