<main id="main" class="main">
  <section>
    <div class="container">
<table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Image</th>
                   <th scope="col">Product Name</th>
                    <th scope="col">Current Product Offer</th>
                    <th scope="col">Add Offer</th>
                    <th scope="col">Delete Offer</th>
                  </tr>
                </thead>
                <tbody>
                    {{#each products}}
                  <tr>
                    <th scope="row">{{inc @index}}</th>
                    <td><img src="/pictures/productimages/{{this.img.[3]}}" alt="" style="width: 50px;height: auto;"></td>
                    <td>{{this.Name}}</td>
                    <td  style="color: green;"><span id="{{this._id}}">{{this.productoffer}}</span> </td>
                    <td><button class="btn btn-primary" onclick="addOffer('{{this._id}}')">Add Offer</button></td>
                    <td><button class="btn btn-danger" onclick="deleteoffer('{{this._id}}')">Delete Offer</button></td>
                  </tr>
                  {{/each}}
                  
                </tbody>
              </table>
    </div>


    <div class="modal fade" id="verticalycentered" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Add Offer (%)</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="offerform">
                          <input type="number" class="form-control" id="offer" placeholder="Offer Percentage" min="1" max="99">

                    
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Save changes</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div><!-- End Vertically centered Modal-->
  </section>
  <script>
 


function addOffer(proId){
  
  $('#verticalycentered').modal('show')
  $('#offerform').submit((e)=>{
    e.preventDefault()
      let value = document.getElementById('offer').value
  console.log(value)
    $.ajax({
    url:'/admin/addoffer',
    data:{
      productId:proId,
      productOffer:value
    },
    method:'put',
    success:(response)=>{
      location.reload()
    }
  })
  })
  
}

    function deleteoffer(proId){

        swal({
  title: "Are you sure Want to Delete?",
  icon:"warning",
  buttons: true,
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    $.ajax({
        url:'/admin/deleteoffer',
        data:{
          productid:proId
        },
        type:'delete',
        success:(response)=>{
          if(response.status){
      document.getElementById(proId).innerHTML=""
          }else{
            swal("", "There is no product offer for this product", "warning");
          }
        }
      })
  }
});

      
    }
  </script>
</main>