<!DOCTYPE html>
<html lang="en">


<!-- molla/checkout.html  22 Nov 2019 09:55:06 GMT -->

<head>
   
    <!-- Favicon -->
    <link rel='stylesheet' href='/stylesheets/style1.css' />

    <style>
        body {
            padding: 0%;
        }

        .modal-body {
            padding: 39px;
        }
             
    </style>
</head>

<body>
      

    <div class="page-wrapper">
        

        <main class="main">
            <div class="page-header text-center" style="background-image: url('/userassets/images/page-header-bg.jpg')">
                <div class="container">
                    <h1 class="page-title">Checkout<span>Shop</span></h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->




            <div class="page-content">
                <div class="checkout">
                    <div class="container">

                        <form id="checkoutform" method="post">

                        <div class="cart-bottom">
                            <div class="cart-discount">
                                <a href="#couponmodal" data-toggle="modal">CHOOSE COUPONS</a>
                                <br>
                                <div class="input-group">
                                    <input id="couponvalue" type="text" class="form-control" name="coupon" placeholder="coupon code">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline" onclick="coupons()">
                                            <i class="icon-long-arrow-right"></i></button>
                                    </div><!-- .End .input-group-append -->
                                </div><!-- End .input-group -->
                                <p id="couponapply" class="text:success"></p>

                            </div><!-- End .cart-discount -->
                        </div>



                            <div class="row">

                                <div class="col-lg-8 d-flex justify-content-start">

                                    <div class="">

                                        <h3>Choose Your Address</h3>
                                        <p>Please select your Address</p>
                                        <br>
                                        <div>
                                            <a href="#signin-modaladdaddress" data-toggle="modal"
                                                class="btn btn-outline-primary-2 btn-default">Add Address<i
                                                    class="icon-long-arrow-right"></i></a>
                                        </div>
                                        <br>
                                        {{!-- {{#each address}}
                                          <input type="radio" id="html" name="deliverydetails" value="{{this._id}}">
                                          <label for="html">{{this.fname}} , {{this.address}}</label><br>
                                        {{/each}}
                                          <br>
                                        <div class="grid"> --}}

                                            {{#each address}}
                                            <div class="col-md-12 float-left me-5 mb-4">
                                                <label class="card">
                                                    <input name="deliverydetails" class="radio" type="radio" checked
                                                        value="{{this._id}}">

                                                    <span class="plan-details">
                                                        <span class="plan-type">{{this.fname}}</span>
                                                        <span class="">{{this.address}}<span class="slash"></span><abbr
                                                                class="plan-cycle" title="month"></abbr></span>
                                                        <span>{{this.pincode}}</span>
                                                        <span>+91{{this.phone}}</span>
                                                        <span class="text-danger">{{this.email}}</span>
                                                    </span>
                                                </label>
                                            </div>
                                            {{/each}}







                                        </div>


                                    </div>

                                    <aside class="col-lg-3 justify-content-end">

                                        <div class="summary ">
                                            <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                            <table class="table table-summary">
                                                <thead>
                                                    <tr>
                                                        <th>Product</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    {{#each cartproducts}}
                                                    <tr>

                                                        <td><a href="#">{{this.product.Name}}</a></td>
                                                        <td>₹ {{this.productTotal}} /-</td>

                                                    </tr>
                                                    {{/each}}


                                                    <tr class="summary-subtotal">
                                                        <td>Subtotal:</td>
                                                        <td ><span id="subtotal">{{total}}</span><td>
                                                    </tr><!-- End .summary-subtotal -->
                                                    <tr>
                                                        <td>Shipping:</td>
                                                        <td>Free shipping</td>
                                                    </tr>
                                                    <tr class="summary-total">
                                                        <td>Total:</td>
                                                        <td><span id="total">{{total}}</span>/-</td>
                                                    </tr><!-- End .summary-total -->
                                                </tbody>
                                            </table><!-- End .table table-summary -->
                                            <p>Payment Methods</p>
                                        
                                            <input type="radio" id="walletz" name="paymentmethod" value="wallet" required>
                                              <label for="html">Turkfash Wallet</label><br>
                                        
                                            <input type="radio" id="html" name="paymentmethod" value="COD" required>
                                              <label for="html">COD</label><br>

                                              <input type="radio" id="css" name="paymentmethod" value="Razorpay"
                                                required>
                                              <label for="css">Razorpay</label><br>
                                            <input type="radio" id="html" name="paymentmethod" value="Paypal" required>
                                              <label for="css">Paypal</label><br>


                                            <div class="accordion-summary" id="accordion-payment">





                                            </div><!-- End .accordion -->

                                            <button type="submit"  class="btn btn-outline-primary-2 btn-order btn-block">

                                                <span class="btn-text">Place Order</span>
                                                <span class="btn-hover-text">Proceed to Checkout</span>
                                            </button>
                                        </div><!-- End .summary -->

                                    </aside><!-- End .col-lg-3 -->
                                </div>
                            </div><!-- End .row -->
                        </form>
                    </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                    placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="index.html">Home</a>

                        <ul>
                            <li><a href="index-1.html">01 - furniture store</a></li>
                            <li><a href="index-2.html">02 - furniture store</a></li>
                            <li><a href="index-3.html">03 - electronic store</a></li>
                            <li><a href="index-4.html">04 - electronic store</a></li>
                            <li><a href="index-5.html">05 - fashion store</a></li>
                            <li><a href="index-6.html">06 - fashion store</a></li>
                            <li><a href="index-7.html">07 - fashion store</a></li>
                            <li><a href="index-8.html">08 - fashion store</a></li>
                            <li><a href="index-9.html">09 - fashion store</a></li>
                            <li><a href="index-10.html">10 - shoes store</a></li>
                            <li><a href="index-11.html">11 - furniture simple store</a></li>
                            <li><a href="index-12.html">12 - fashion simple store</a></li>
                            <li><a href="index-13.html">13 - market</a></li>
                            <li><a href="index-14.html">14 - market fullwidth</a></li>
                            <li><a href="index-15.html">15 - lookbook 1</a></li>
                            <li><a href="index-16.html">16 - lookbook 2</a></li>
                            <li><a href="index-17.html">17 - fashion store</a></li>
                            <li><a href="index-18.html">18 - fashion store (with sidebar)</a></li>
                            <li><a href="index-19.html">19 - games store</a></li>
                            <li><a href="index-20.html">20 - book store</a></li>
                            <li><a href="index-21.html">21 - sport store</a></li>
                            <li><a href="index-22.html">22 - tools store</a></li>
                            <li><a href="index-23.html">23 - fashion left navigation store</a></li>
                            <li><a href="index-24.html">24 - extreme sport store</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="category.html">Shop</a>
                        <ul>
                            <li><a href="category-list.html">Shop List</a></li>
                            <li><a href="category-2cols.html">Shop Grid 2 Columns</a></li>
                            <li><a href="category.html">Shop Grid 3 Columns</a></li>
                            <li><a href="category-4cols.html">Shop Grid 4 Columns</a></li>
                            <li><a href="category-boxed.html"><span>Shop Boxed No Sidebar<span
                                            class="tip tip-hot">Hot</span></span></a></li>
                            <li><a href="category-fullwidth.html">Shop Fullwidth No Sidebar</a></li>
                            <li><a href="product-category-boxed.html">Product Category Boxed</a></li>
                            <li><a href="product-category-fullwidth.html"><span>Product Category Fullwidth<span
                                            class="tip tip-new">New</span></span></a></li>
                            <li><a href="cart.html">Cart</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                            <li><a href="wishlist.html">Wishlist</a></li>
                            <li><a href="#">Lookbook</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="product.html" class="sf-with-ul">Product</a>
                        <ul>
                            <li><a href="product.html">Default</a></li>
                            <li><a href="product-centered.html">Centered</a></li>
                            <li><a href="product-extended.html"><span>Extended Info<span
                                            class="tip tip-new">New</span></span></a></li>
                            <li><a href="product-gallery.html">Gallery</a></li>
                            <li><a href="product-sticky.html">Sticky Info</a></li>
                            <li><a href="product-sidebar.html">Boxed With Sidebar</a></li>
                            <li><a href="product-fullwidth.html">Full Width</a></li>
                            <li><a href="product-masonry.html">Masonry Sticky Info</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Pages</a>
                        <ul>
                            <li>
                                <a href="about.html">About</a>

                                <ul>
                                    <li><a href="about.html">About 01</a></li>
                                    <li><a href="about-2.html">About 02</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="contact.html">Contact</a>

                                <ul>
                                    <li><a href="contact.html">Contact 01</a></li>
                                    <li><a href="contact-2.html">Contact 02</a></li>
                                </ul>
                            </li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="faq.html">FAQs</a></li>
                            <li><a href="404.html">Error 404</a></li>
                            <li><a href="coming-soon.html">Coming Soon</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="blog.html">Blog</a>

                        <ul>
                            <li><a href="blog.html">Classic</a></li>
                            <li><a href="blog-listing.html">Listing</a></li>
                            <li>
                                <a href="#">Grid</a>
                                <ul>
                                    <li><a href="blog-grid-2cols.html">Grid 2 columns</a></li>
                                    <li><a href="blog-grid-3cols.html">Grid 3 columns</a></li>
                                    <li><a href="blog-grid-4cols.html">Grid 4 columns</a></li>
                                    <li><a href="blog-grid-sidebar.html">Grid sidebar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Masonry</a>
                                <ul>
                                    <li><a href="blog-masonry-2cols.html">Masonry 2 columns</a></li>
                                    <li><a href="blog-masonry-3cols.html">Masonry 3 columns</a></li>
                                    <li><a href="blog-masonry-4cols.html">Masonry 4 columns</a></li>
                                    <li><a href="blog-masonry-sidebar.html">Masonry sidebar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Mask</a>
                                <ul>
                                    <li><a href="blog-mask-grid.html">Blog mask grid</a></li>
                                    <li><a href="blog-mask-masonry.html">Blog mask masonry</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Single Post</a>
                                <ul>
                                    <li><a href="single.html">Default with sidebar</a></li>
                                    <li><a href="single-fullwidth.html">Fullwidth no sidebar</a></li>
                                    <li><a href="single-fullwidth-sidebar.html">Fullwidth with sidebar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="elements-list.html">Elements</a>
                        <ul>
                            <li><a href="elements-products.html">Products</a></li>
                            <li><a href="elements-typography.html">Typography</a></li>
                            <li><a href="elements-titles.html">Titles</a></li>
                            <li><a href="elements-banners.html">Banners</a></li>
                            <li><a href="elements-product-category.html">Product Category</a></li>
                            <li><a href="elements-video-banners.html">Video Banners</a></li>
                            <li><a href="elements-buttons.html">Buttons</a></li>
                            <li><a href="elements-accordions.html">Accordions</a></li>
                            <li><a href="elements-tabs.html">Tabs</a></li>
                            <li><a href="elements-testimonials.html">Testimonials</a></li>
                            <li><a href="elements-blog-posts.html">Blog Posts</a></li>
                            <li><a href="elements-portfolio.html">Portfolio</a></li>
                            <li><a href="elements-cta.html">Call to Action</a></li>
                            <li><a href="elements-icon-boxes.html">Icon Boxes</a></li>
                        </ul>
                    </li>
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <!-- Sign in / Register Modal -->


    <div class="modal fade" id="signin-modaladdaddress" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="modalclose()">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="col-lg-9">
                        <form id="addresss">
                            <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->



                            <label>First Name *</label>
                            <input type="text" class="form-control" id="addd" name="fname" required>

                            <label>Last Name *</label>
                            <input type="text" class="form-control" id="addd1" name="lname" required>




                            <label>Country *</label>
                            <input type="text" class="form-control" id="addd2" name="country" required>

                            <label>Street address *</label>
                            <input type="text" class="form-control" id="addd3" name="address" required>


                            <label>Town / City *</label>
                            <input type="text" class="form-control" id="addd4" name="town" required>



                            <label>State / County *</label>
                            <input type="text" class="form-control" id="addd5" name="state" required>




                            <label>Postcode / ZIP *</label>
                            <input type="text" class="form-control" id="addd6" name="pincode" required>



                            <label>Phone *</label>
                            <input type="tel" class="form-control" id="addd7" name="phone" required>



                            <label>Email address *</label>
                            <input type="email" class="form-control" id="addd8" name="email" required>
                            <p id="addressdetails" class="text-success"></p>



                            <button type="submit" class="btn btn-outline-primary-2 text-centre" onclick="address()">
                                <span>SUBMIT</span>
                                <i class="icon-long-arrow-right"></i>
                            </button>

                        </form>
                    </div><!-- End .col-lg-9 -->

                </div><!-- End .modal-body -->

            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->


    <div class="modal fade" id="couponmodal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="modalclose()">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>
                    <h3 class="text-center fw-5 text-success">COUPONS</h3>
                    {{#each getallcoupon}}
                    <div class="col-md-12 float-left me-5 mb-4">
                        <label class="card">
                            <input name="deliverydetails" class="radio" type="radio" checked
                                id="couponvalues{{this._id}}" value="{{this.couponname}}" data-dismiss="modal">

                            <span class="plan-details" onclick="couponfunc('{{this._id}}')">
                                <span class="plan-type"></span>
                                <span class="text-success font-weight-bold">{{this.couponname}}<span
                                        class="slash"></span><abbr class="plan-cycle" title="month"></abbr></span>
                                <span class="text-danger font-weight-bold">GET {{this.offer}} % on the Cart
                                    Values</span>
                                <span>Claim It Before Expiring</span>
                            </span>
                        </label>
                    </div>


                    {{/each}}

                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->

   
    
    {{!-- <script>

        $('#addresss').submit((e) => {
            e.preventDefault()
            $.ajax({
                url: '/addaddress',
                method: 'post',
                data: $('#addresss').serialize(),
                success: (response) => {
                    if (response) {
                        document.getElementById("addd").value = ""
                        document.getElementById("addd1").value = ""
                        document.getElementById("addd2").value = ""
                        document.getElementById("addd3").value = ""
                        document.getElementById("addd4").value = ""
                        document.getElementById("addd5").value = ""
                        document.getElementById("addd6").value = ""
                        document.getElementById("addd7").value = ""
                        document.getElementById("addd8").value = ""
                        location.reload()
                    }
                }
            })
        })



        $('#checkoutform').submit((e) => {
            e.preventDefault()
            let value = document.getElementById('couponvalue').value

            $.ajax({
                url: '/placeorder/',
                method: 'post',
                data: $('#checkoutform').serialize(),
                    
                success: (response) => {
                    console.log(response)
                    console.log('Hello')
                    if (response.codPayment) {
                        alert('Order Placed Successfully')
                        location.href = '/'
                    } else if (response.paypal) {
                        console.log(response)

                        paypalPayment(response)

                    }
                    else if(response.wallet){
                        if(response.status){
                            alert("Order Placed")
                            location.href='/'
                        }else{
                            alert("Insuficient Amount")
                        }
                    }
                     else {
                        console.log(response)
                        razorPayment(response)
                    }
                }
            })
        })
        function paypalPayment(response) {
            orderId=response._id
            $.ajax({
                url: '/pay',
                data:{
                    orderId:response.orderId,
                    total:response.totalAmount
                },
                method: 'post',
                success: (response) => {
                    console.log(response)
                    location.href = response
                }
            })
        }

        function razorPayment(order) {
            var options = {
                "key": "rzp_test_8h8AtEo7U2mnNt", // Enter the Key ID generated from the Dashboard
                "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "TurkFash",
                "description": "Test Transaction",
                "image": "https://example.com/your_logo",
                "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": function (response) {
                    verifyPayment(response, order)
                },
                "prefill": {
                    "name": "Gaurav Kumar",
                    "email": "gaurav.kumar@example.com",
                    "contact": "9999999999"
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#3399cc"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();


        }

        function verifyPayment(payment, order) {
            $.ajax({
                url: '/verify-payment',
                data: {
                    payment, order
                },
                method: 'post',
                success: (response) => {
                    if (response.status) {
                        location.href = '/'
                    }
                    else {
                        alert("Failed")
                    }
                }
            })
        }

        function coupons() {
            let value = document.getElementById("couponvalue").value

            $.ajax({
                url: '/coupon',
                method: 'post',
                data: { 'coupon': value },
                success: (response) => {
                    if (response.status === true) {
                        if(response.couponoffer>40){
                            document.getElementById('couponapply').style.color = "green"
                        document.getElementById('couponapply').innerHTML = response.message
                        let total = document.getElementById('total').innerHTML
                        let subtotal = document.getElementById('subtotal').innerHTML
                        let offer = 40
                        let v = subtotal * (offer / 100)
                        document.getElementById('total').innerHTML = Math.round(subtotal - v) 
                        }else{
                            document.getElementById('couponapply').style.color = "green"
                        document.getElementById('couponapply').innerHTML = response.message
                        let total = document.getElementById('total').innerHTML
                        let subtotal = document.getElementById('subtotal').innerHTML
                        let offer = response.couponoffer
                        let v = subtotal * (offer / 100)
                        document.getElementById('total').innerHTML = Math.round(subtotal - v) 
                        }
                        
                    } else {
                        document.getElementById('couponapply').style.color = "red"
                        document.getElementById('couponapply').innerHTML = response.message
                    }
                }
            })
        }


        function couponfunc(couponid) {
            let couponvalue = document.getElementById('couponvalues' + couponid).value
            console.log(couponvalue)
            document.getElementById('couponvalue').value = couponvalue
        }

    </script> --}}


    <!-- Plugins JS File -->
    <script src="/userassets/js/jquery.min.js"></script>
    <script src="/userassets/js/bootstrap.bundle.min.js"></script>
    <script src="/userassets/js/jquery.hoverIntent.min.js"></script>
    <script src="/userassets/js/jquery.waypoints.min.js"></script>
    <script src="/userassets/js/superfish.min.js"></script>
    <script src="/userassets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="/userassets/js/main.js"></script>
</body>


<!-- molla/checkout.html  22 Nov 2019 09:55:06 GMT -->

</html>