<!DOCTYPE html>
<html lang="en">


<!-- molla/cart.html  22 Nov 2019 09:55:06 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/userassets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/userassets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/userassets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/userassets/images/icons/site.html">
    <link rel="mask-icon" href="/userassets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/userassets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/userassets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/userassets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/userassets/css/style.css">
    <style>
        body{
            padding: 0%;
        }
        .header{
    position: relative;
}
    </style>
</head>
<body>
    <div class="page-header text-center" style="background-image: url('/userassets/images/page-header-bg.jpg')">
                <div class="container">
                    <h1 class="page-title">Return Order<span>Shop</span></h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
   
<div class="card text-center m-4 shadow-lg p-3 mb-5 bg-white rounded" style="">
  
  <div class="card-body d-flex">
    <div class="col-md-4">
            <div class="col-md-6 d-flex">
                <img src="/pictures/productimages/{{returnproducts.productdetails.img.[0]}}" alt="" style="width: 300%;height:auto">
            </div>

    </div>
    <div class="col-md-2 mt-4 me-5">
        
    <b>Quantity : {{returnproducts.products.quantity}}</b><br>
    {{#if returnproducts.products.offerprice}}
        <b> Amount Paid : {{returnproducts.products.offerprice}}</b><br>
    {{/if}}
        {{#if returnproducts.products.amount}}

    <b> Amount Paid : {{returnproducts.products.amount}}</b><br>
    {{/if}}
    
    <b>Address</b><br>
    <span>{{returnproducts.deliveryDetails.name}}</span><br>
    <span>{{returnproducts.deliveryDetails.address}}</span><br>
    Pincode: <span>{{returnproducts.deliveryDetails.pincode}}</span>
    </div>
    
    <div class="col-md-6 mt-3">
            

              <!-- General Form Elements -->
              <form action="/returnproduct" method="post">
                <div class="row mb-3">
                  <label for="inputText" class="col-sm-2 col-form-label">Reason for Return</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="returnreason">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputEmail" class="col-sm-2 col-form-label">Reason Details</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name="reasondetails">
                  </div>
                </div>
                
                <input type="text" name="orderId" id="" value="{{returnproducts._id}}" hidden>
                <input type=" text" name="productID" value="{{returnproducts.products.item}}" hidden>

                <div class="row mb-3">
                  <label for="inputPassword" class="col-sm-2 col-form-label">Comments</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" style="height: 100px" name="comments"></textarea>
                  </div>
                </div>
                
                

                

                

                

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Submit Button</label>
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit Form</button>
                  </div>
                </div>

              </form><!-- End General Form Elements -->
              </div>

            
          

   
      
  </div>
  </div>
 

  


 

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Plugins JS File -->
    <script src="/userassets/js/jquery.min.js"></script>
    <script src="/userassets/js/bootstrap.bundle.min.js"></script>
    <script src="/userassets/js/jquery.hoverIntent.min.js"></script>
    <script src="/userassets/js/jquery.waypoints.min.js"></script>
    <script src="/userassets/js/superfish.min.js"></script>
    <script src="/userassets/js/owl.carousel.min.js"></script>
    <script src="/userassets/js/bootstrap-input-spinner.js"></script>
    <!-- Main JS File -->
    <script src="/userassets/js/main.js"></script>
</body>
</html>
