<!DOCTYPE html>
<html lang="en">


<!-- molla/cart.html  22 Nov 2019 09:55:06 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/userassets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/userassets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/userassets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/userassets/images/icons/site.html">
    <link rel="mask-icon" href="/userassets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/userassets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="/userassets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/userassets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/userassets/css/style.css">
    <style>
        body{
            padding: 0%;
        }
    </style>
</head>
<body>
    <div class="page-header text-center" style="background-image: url('/userassets/images/page-header-bg.jpg')">
                <div class="container">
                    <h1 class="page-title">My Order<span>Shop</span></h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
    {{#each orderproducts}}
<div class="card text-center m-4 shadow-lg p-3 mb-5 bg-white rounded" style="">
  
  <div class="card-body d-flex">
    <div class="col-md-4">
            <div class="col-md-6 d-flex">
<img src="/pictures/productimages/{{this.productdetails.img.[3]}}" alt="" style="width: 100px;height: auto;" class="me-5">
<img src="/pictures/productimages/{{this.productdetails.img.[2]}}" alt="" style="width: 100px;height: auto;" class="me-5">
<img src="/pictures/productimages/{{this.productdetails.img.[1]}}" alt="" style="width: 100px;height: auto;" class="me-5">
<img src="/pictures/productimages/{{this.productdetails.img.[0]}}" alt="" style="width: 100px;height: auto;" class="me-5">

            </div>

    </div>
    <div class="col-md-4 mt-4">
        
    <p>Quantity : {{this.products.quantity}}</p>
    {{#if this.products.offerprice}}
    <span>Price : {{this.products.offerprice}}</span>
    {{else}}
    <span>Price : {{this.products.amount}}</span>
    {{/if}}
    <br>
    <span>Size : {{this.productdetails.Size}}</span>
    

    </div>
    <div class="col-md-2 mt-4">
      
                                                          <span>Status : <br><b>{{this.products.status}}</b></span>

                                 


    </div>
    <div class="col-md-2 mt-5">
            
        {{#if (productstatus2 this.products.status)}}
        <a href="/returnorder/{{this._id}}/{{this.products.item}}" class="btn btn-success"  >Return Item</a>
    {{/if}}
    {{#if (productstatus this.products.status)}}
        <button class="btn btn-danger">Cancel</button>
    {{/if}}
    {{#if (productstatus1 this.products.status)}}
            <button class="btn btn-danger">Cancel</button>
            {{/if}}

    </div>
      
  </div>
  </div>
  {{/each}}

  
<div class="modal fade" id="returnitem" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="modalclose()">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin"
                                        role="tab" aria-controls="signin" aria-selected="true">RETURN ITEM</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel"
                                    aria-labelledby="signin-tab">
                                    <form id="returnform">

                                        <div class="form-group">
                                            <label for="singin-email">Reason For Return</label>
                                            <input type="text" class="form-control" name="returnreason"
                                                required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-email">Reason Details</label>
                                            <input type="text" class="form-control"  name="returndetails"
                                                required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">Comments</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" ></textarea>

                                        </div><!-- End .form-group -->
                                        <p class="text-success" id="success"></p>
                                        <p class="text-danger" id="danger"></p>

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2 text-centre">
                                                <span>SUBMIT</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>
                                        </div><!-- End .form-footer -->
                                    </form>

                                </div><!-- .End .tab-pane -->

                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->

 

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Plugins JS File -->
    <script src="/userassets/js/jquery.min.js"></script>
    <script src="/userassets/js/bootstrap.bundle.min.js"></script>
    <script src="/userassets/js/jquery.hoverIntent.min.js"></script>
    <script src="/userassets/js/jquery.waypoints.min.js"></script>
    <script src="/userassets/js/superfish.min.js"></script>
    <script src="/userassets/js/owl.carousel.min.js"></script>
    <script src="/userassets/js/bootstrap-input-spinner.js"></script>
    <!-- Main JS File -->
    <script src="/userassets/js/main.js"></script>
</body>
</html>
